{{template "header" .title}}
{{range .posts}}
<a class="nes-balloon from-left topic" href="#{{.ID}}" id="apost">
    <h2>{{.Title}}</h2>
    <p class="details">
        posted <em>less than an hour ago</em> by <em>rasmus</em><br>
        4 comments
    </p>
</a>
{{end}}

<section class="nes-container with-title submission">
    <h3 class="title">New Post</h3>

    <div class="nes-field">
        <label for="name_field">Post Title</label>
        <input type="text" id="name_field" class="nes-input">
    </div>

    <div id="textarea" class="nes-field">
        <label for="textarea_field">Content</label>
        <textarea id="textarea_field" class="nes-textarea"></textarea>
    </div>

    <button type="button" class="nes-btn is-disabled right-align">Submit Post</button>
    <span>You need to be signed in to post</span>
</section>
{{template "footer"}}
