{{template "header"}}
<section class="topic">
    <h2 id="apost">
        <a href="#apost"># a post</a>
    </h2>
    <p>
        NES.css only provides components. You will need to define your own layout.
    </p>
    <ul>
        <li><em>just now</em> by <em>rasmus</em></li>
        <li>0 responses</li>
    </ul>
</section>
{{template "footer"}}
