{{template "header" .title}}
{{range .posts}}
<a class="nes-balloon from-left topic" href="#{{.ID}}" id="apost">
    <h2>{{.Title}}</h2>
    <p class="details">
        posted <em>less than an hour ago</em> by <em>rasmus</em><br>
        4 comments
    </p>
</a>
{{end}}

<section class="nes-container with-title submission">
    <form method="post">
        <h3 class="title">New Post</h3>

        <div class="nes-field">
            <label for="title">Post Title</label>
            <input type="text" id="title" name="title" class="nes-input">
        </div>

        <div id="textarea" class="nes-field">
            <label for="content">Content</label>
            <textarea id="content" name="content" class="nes-textarea"></textarea>
        </div>

        {{if false}}
            <button type="button" class="nes-btn is-disabled right-align" disabled>Submit Post</button>
            <span>You need to be signed in to post</span>
        {{else}}
            <button type="submit" class="nes-btn right-align">Submit Post</button>
        {{end}}
    </form>
</section>
{{template "footer"}}
