{{range .}}
    <a class="nes-balloon from-left topic" href="#{{.ID}}" id="apost">
        <h2>{{.Title}}</h2>
        <p class="details">
            posted <em>less than an hour ago</em> by <em>rasmus</em><br>
            4 comments
        </p>
    </a>
{{end}}
