{{template "header" .PageTitle}}
<section class="nes-container with-title submission">
    <form method="post">
        <h3 class="title">Register</h3>

        <div class="nes-field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="nes-input">
        </div>

        <div class="nes-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="nes-input">
        </div>

        <div class="nes-field">
            <label for="password">Password (again)</label>
            <input type="password" id="password" name="password" class="nes-input">
        </div>

        <button type="submit" class="nes-btn right-align">Create account</button>
    </form>
</section>
{{template "footer"}}
